* {
  box-sizing: border-box;
  font-family: 'Albert Sans', system-ui, sans-serif;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Albert Sans', system-ui, sans-serif;
  color: black;
  background-color: #fff;
}

h1 {
  font-weight: 800;
}

button {
  background-color: #2b43e2;
  border: 1px solid #666;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 2px #ccc;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 1rem;
  transition: box-shadow 0.5s;
  &:hover {
    box-shadow: 2px 2px 4px 2px #999, 2px 2px 4px 4px #2235ad inset;
  }
}
